.homeIntro {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 40px;

  .homeIntroText {
    max-width: 800px;

    h1 {
      color: var(--secondary-color);
      font-size: 60px;
      font-style: normal;
      font-weight: 600;
      line-height: 145%;
      letter-spacing: -1.2px;
      text-transform: capitalize;
    }

    p {
      color: rgba(57, 50, 128, 0.80);
      font-size: 22px;
      font-style: normal;
      font-weight: 500;
      line-height: 180%;
      letter-spacing: 0.88px;
      margin: 10px 0 30px;
    }

    .homeIntroTextLink {
      border-color: var(--secondary-color);
      color: var(--secondary-color);
    }
  }

  img {
    width: 713px;
    height: 657px;
  }
}

.preBenefits {
  margin-top: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  gap: 40px;

  h2 {
    color: var(--secondary-color);
    font-size: 32px;
    font-weight: 700;
    line-height: 44px;
    min-width: 30%;
  }

  p {
    color: rgba(57, 50, 128, 0.70);
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 32px;
    max-width: 50%;
  }
}

.benefits {
  margin-top: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  gap: 34px;

  &Item {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    max-width: 25%;

    img {
      width: 416px;
      height: 247px;
      border-radius: 10px;
    }

    &Text {
      margin-top: 34px;

      h4 {
        color: var(--secondary-color);
        text-align: center;
        font-size: 24px;
        font-weight: 600;
        line-height: 32px;
      }

      p {
        margin-top: 11px;
        color: rgba(57, 50, 128, 0.70);
        text-align: center;
        font-size: 16px;
        font-weight: 400;
        line-height: 32px;
      }
    }
  }
}

.joinUs {
  margin-top: 100px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 100px;

  &Text {
    max-width: 50%;

    h2 {
      color: var(--secondary-color);
      font-size: 30px;
      font-weight: 800;
      line-height: 50px;
      letter-spacing: 0.9px;
    }

    p {
      color: rgba(57, 50, 128, 0.70);
      font-size: 18px;
      font-weight: 500;
      line-height: 32px;
      margin: 10px 0 34px;
    }
  }

  img {
    width: 684px;
    height: 552px;
  }
}

.statistic {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  gap: 36px;
  border-radius: 20px;
  background: #FCEBEA;
  padding: 60px 80px;
  margin-top: 150px;

  &Left {
    max-width: 800px;
    min-width: 50%;

    h1 {
      color: var(--third-color);
      font-size: 45px;
      font-weight: 700;
      line-height: 66px;
    }

    p {
      margin-top: 12px;
      color: var(--third-color);
      font-size: 18px;
      font-weight: 400;
      line-height: 32px;
      letter-spacing: 0.9px;
    }

    &Cols {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      gap: 40px;
      margin-top: 30px;

      &Item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        h5 {
          color: var(--primary-color);
          text-align: center;
          font-size: 26px;
          font-weight: 700;
          letter-spacing: 2.6px;
          text-transform: uppercase;
        }

        p {
          color: #000;
          font-size: 16px;
          font-weight: 500;
          line-height: 180%;
          letter-spacing: 1.6px;
          text-transform: uppercase;
        }
      }

      &Button {
        margin-top: 60px;
      }
    }
  }

  img {
    background: none;
    width: 632px;
    height: 488px;
  }
}

.feedback {
  margin-top: 150px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  img {
    width: 686px;
    height: 566.044px;
  }

  &Right {
    width: 100%;
    padding: 140px 100px;


    &Text {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      gap: 20px;

      h2 {
        color: #000;
        font-size: 32px;
        font-weight: 700;
        letter-spacing: 1.874px;
      }

      p {
        color: #000;
        font-size: 18px;
        font-weight: 400;
        line-height: 34px;
        letter-spacing: 1.289px;
      }
    }

    &Button {
      margin-top: 80px;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;

      input {
        min-width: 300px;
        width: 80%;
        background: #FFFFFF;
      }
    }
  }
}

@media screen and (max-width: 1600px) {
  .statistic {
    flex-direction: column-reverse;
    justify-content: flex-start;
    align-items: center;

    &Left {
      h1 {
        text-align: center;
      }

      p {
        text-align: center;
      }

      &Cols {
        &Button {
          width: 100%;
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
        }
      }
    }
  }

  .feedback {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background: #FAEFEF;
    padding: 20px;
    border-radius: 20px;

    img {
      border-radius: 10px;
    }
  }
}

@media screen and (max-width: 1300px) {
  .homeIntro {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 40px;

    .homeIntroText {
      .homeIntroTextLink {
        width: 100%;
        border-color: var(--secondary-color);
        color: var(--secondary-color);
      }
    }
  }
  .preBenefits {
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 40px;

    p {
      text-align: center;
      max-width: 100%;
    }

    h2 {
      text-align: center;
    }
  }

  .benefits {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 60px;

    &Item {
      flex-direction: column;
      max-width: 100%;

      &Text {
        margin-top: 20px;
      }
    }
  }
  .joinUs {
    flex-direction: column;
    justify-content: flex-start;
    gap: 30px;

    &Text {
      max-width: 100%;
      text-align: center;

      &Link {
        display: flex;
        flex-direction: row;
        justify-content: center;
      }
    }
  }
}

@media screen and (max-width: 900px) {
  .homeIntro {
    img {
      width: 413px;
      height: 357px;
    }
  }
  .statistic {
    &Left {
      &Cols {
        flex-wrap: wrap;

        &Item {
          min-width: 40%;
        }
      }
    }

    img {
      width: 432px;
      height: 288px;
    }
  }
  .feedback {
    img {
      width: 486px;
      height: 366.044px;
    }

    &Right {
      padding: 20px 40px;

      &Button {
        display: flex;
        flex-direction: column;
        gap: 10px;

        input {
          width: 100%;
          background: #FFFFFF;
        }

        button {
          width: 100%;
        }
      }
    }
  }
  .joinUs {
    img {
      width: 384px;
      height: 252px;
    }
  }
}

@media screen and (max-width: 640px) {
  .homeIntro {
    .homeIntroText {
      h1 {
        font-size: 40px;
        font-weight: 800;
      }

      p {
        font-size: 16px;
      }
    }
  }
  .statistic {
    padding: 20px 30px;

    img {
      width: 332px;
      height: 188px;
    }

    &Left {
      h1 {
        font-size: 30px;
        font-weight: 800;
        line-height: 36px;
      }

      p {
        line-height: 26px;
        letter-spacing: 0.6px;
      }

      &Cols {
        justify-content: center;
      }
    }
  }
  .feedback {
    img {
      width: 386px;
      height: 266.044px;
    }
  }
}

@media screen and (max-width: 460px) {
  .homeIntro {
    img {
      width: 313px;
      height: 257px;
    }
  }
  .statistic {
    margin-top: 80px;
  }
  .joinUs {
    img {
      width: 284px;
      height: 152px;
    }
  }
  .feedback {
    margin-top: 80px;

    &Right {
      padding: 10px 20px;

      &Text {
        text-align: center;
      }

      &Button {
        display: flex;
        flex-direction: column;
        gap: 10px;

        input {
          min-width: 80px;
        }
      }
    }

    img {
      width: 236px;
      height: 156.044px;
      object-fit: cover;
    }
  }
  .benefits {
    &Item {
      img {
        width: 316px;
        height: 147px;
      }
    }
  }
}

